*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0; /*hmm?*/
}
body {
  margin: 0;
  font-size: 16px;
}

.custom-box {
  max-width: 700px;
  background-color: #ffffff;
  margin: 40px auto; /*hmm?*/
  padding: 30px;
  border-radius: 10px;
}